*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
body{
    font-family: Arial, Tahoma, sans-serif;
    background-image: -webkit-linear-gradient(left,rgb(13, 204, 13),rgb(85, 224, 72),rgb(255, 255, 69),yellow);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.button-control{
    left: 0px;
    bottom: 0px;
    position: fixed;
    background-color: rgb(121, 200, 206);
    opacity: .9;
    width: 100%;
    height: 100%;
    z-index: 3;   
}
.button-control span{
    font-weight: bold;
    position: absolute;
    background-color: rgb(235, 54, 8);
    border: solid 2px rgb(53, 2, 2);
    border-radius:5px;
    padding: 5px;
    left: 45%;
    bottom: 43%;
    transform: translate(-50%,-50%);
    cursor: pointer;  
    color: white;
}


/* css style of  (containerdata)*/

.containerdata{
    border: solid 2px black;
    width: 900px;
    border-radius: 4px;
    margin: 15px 200px;
    overflow: hidden;
    padding: 5px;
}

.name{
    float: left;
   font-weight: bold;
   padding-right: 100px;
}

.tried{
    float: left;
    font-weight: bold;
    padding-left: 170px;
}
.containerdata .center{
    float: right;
    padding-right: 40px;
}

.count{
    float: left;
    font-weight: bold;
    padding-left: 200px;
}
/*------------------------------------------------------------------------------------------------------*/
/* style of containerblock*/
.containserblock{
    margin: 17px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;   
}
.containserblock.no-clicking{
    pointer-events: none;
}

.non-clicking{
    pointer-events: none;
}

.no-click{
    pointer-events: none;
}

.containserblock .imgblock{
    transition: transform .9s;
    transform-style:preserve-3d ;
     position: relative;
     border:solid 3px rgb(43, 39, 39);
     border-radius: 5px;     
     height: 138px; 
     flex: 0 80 152px;   
     margin: 0px 9px 6px;
     cursor: pointer;  
}

.containserblock .imgblock .front::before{
    content: '!';
    font-size: 130px;
    font-weight: bold;
    line-height: 130px;
}
.containserblock .imgblock .front{
    background-color: rgb(197, 126, 126);
}
.containserblock .imgblock .back{
    background-color: rgb(151, 151, 151);
    transform: rotateY(180deg);
}
.containserblock .imgblock .fac{
   position: absolute;
   backface-visibility: hidden;
   text-align: center;
   width: 100%;
   height: 100%;
}
.containserblock .imgblock .back img{
    width: 100px;
    height: 100px;
    margin: 10px 10px;   
    line-height: 0px; 
}

.containserblock .rotate,
.containserblock .fliping
{
 transform: rotateY(180deg);
 transition: transform .9s;
 transform-style:preserve-3d ;
 position: relative;
 border:solid 3px rgb(43, 39, 39);
 border-radius: 5px;     
 height: 138px;    
 width: 155px;
 flex-grow: 0;
 margin: 0px 9px 6px;
 cursor: pointer;
}
/*-------------------------------------Next level-----------------------------------------------------------------*/
